@import './variables.scss';

.menu-link {
  
  &:hover {
    text-decoration: underline;
    color: $main_blue;
  }
}

.social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $main_blue;
  position: relative;

  &:hover {
    background: linear-gradient(90deg, rgba(157,173,242,1) 0%, rgba(71,139,249,1) 100%);
  }
 
  &::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23110A1DFF' stroke-width='3' stroke-dasharray='20%2c 2' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
  }

  @media screen and (max-width: $screen_XS) {
    width: 27px;
    height: 27px;

    &::before {
      content: '';
      width: 25px;
      top: 1px;
      left: 1px;
      height: 25px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23201637FF' stroke-width='2' stroke-dasharray='17%2c 2' stroke-dashoffset='84' stroke-linecap='butt'/%3e%3c/svg%3e");
    }
  }




  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}