@import './variables.scss';

.menu-link {
  
  &:hover {
    text-decoration: underline;
    color: $main_blue;
  }
}

.social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $main_blue;
  position: relative;
  // outline: 2px dashed black;
  // outline-offset: -4px;
 
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    border: 2px solid;
    background-color: aliceblue;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
    border-image-slice: 1;
  }
  


  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}