// colors:

$BG_color: #110A1D;
$main_blue: #478BF9;
$main_deep_blue: #1E1231;
$btn_border: #9DADF2;

// screen breakpoints
$screen_XL: 1700px;
$screen_L: 1200px;
$screen_M: 1025px;
$screen_S: 768px; 
$screen_XS: 577px;

// container - sizes:
$container_XL: 1640px;
