.footer_container {
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border: 2px solid $main_blue;
  border-bottom: none;
  padding: 24px 0 24px;
  @media screen and (max-width: $screen_XS) {
    padding: 10px 0 20px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: $screen_XS) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
  }

  &__menu {
    display: flex;
    gap: 4rem;    

    @media screen and (max-width: $screen_M) {
      flex-direction: column;
      gap: 2px;
      li:first-child {
        order: 2;
      }
    }

  }
}

.social-media {

  &__title {
    text-align: right;
    margin-bottom: 1.4rem;

    @media screen and (max-width: $screen_XS) {
      text-align: left;
    }
  }  

  &__sites {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap ;
  }
}
