.footer_container {
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border: 2px solid $main_blue;
  border-bottom: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0 24px;

  &__menu {
    display: flex;
    gap: 4rem;    
  }

  &__social {

  }
}

.social-media {

  &__title {
    text-align: right;
  }  

  &__sites {
    display: flex;
    gap: .8rem;
  }
}
