@import '../../styles/variables.scss';

.welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 14rem 0 21.9rem;
  @media screen and (max-width: $screen_XL) {
    padding: 10rem 0 15rem;
  }
  @media screen and (max-width: $screen_M) {
    flex-direction: column;
    padding: 70px 0;
  }
  @media screen and (max-width: $screen_XS) {
    padding: 70px 0 119px;
  }
}

.title {
  position: relative;
  z-index: 2;
  margin-right: 2rem;
  @media screen and (max-width: $screen_M) {
    text-align: center;
    margin-bottom: 230px;
    margin-right: 0;
    width: 100%;
  }
  
  &__text {
    font-weight: 500;
    font-size: 9.6rem;
    line-height: 9.6rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    
    &_blue {
      color: $main_blue;
      margin-top: 2.4rem;
    }
  
    @media screen and (max-width: $screen_XS) {
      font-size: 46px;
      line-height: 50px;
      margin-bottom: 12px;
    }
  }
}


.subtitle {
  opacity: .6;
  font-size: 3.2rem;

  @media screen and (max-width: $screen_XS) {
    font-size: 20px;
    line-height: 26px;
  }
}

.left-shine {
  position: absolute;
  transform: rotate(36deg);
  transform-origin: bottom left;
  top: 0;
  left: -23%;
  background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.4) 100%);
  width: 80%;
  aspect-ratio: 1300/226;
  opacity: 0.55;
  filter: blur(150px);
  border-radius: 50%;
  z-index: 2;
  @media screen and (max-width: $screen_M) {
    filter: blur(115px);
  }
  @media screen and (max-width: $screen_S) {
    filter: blur(66px);
    width: 120%;
  }
}

.right-shine {
  z-index: 2;
  width: 37%;
  aspect-ratio: 1/1;
  background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
  opacity: 0.7;
  filter: blur(325px);
  position: absolute;
  right: -18.5%;
  bottom: -130px;
  text-align: center;
  @media screen and (max-width: $screen_M) {
    filter: blur(233px);
  }
  @media screen and (max-width: $screen_S) {
    filter: blur(125px);
  }
  @media screen and (max-width: $screen_XS) {
    width: 80%;
    right: -40%;
    bottom: 0;
  }
}

.chipScroll {
  position: absolute;
  display: flex;
  gap: 17px;
  top: 0;
  left: 711px;
  height: 100%;
  overflow: hidden;

  @media screen and (max-width: $screen_XL) {
    left: 50%;   
    transform: translateX(-50%);
  }
  
  @media screen and (max-width: $screen_M) {
    display: none;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(17, 10, 29, 1) 0%, rgba(17, 10, 29, 0.52) 12%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0) 83%, rgba(17, 10, 29, 0.52) 88%, rgba(17, 10, 29, 1) 100%), linear-gradient(90deg, rgba(17, 10, 29, 0.72) 0%, rgba(0, 0, 0, 0) 50%, rgba(17, 10, 29, 0.72) 100%);
    @media screen and (max-width: $screen_XL) {
      background: rgba($BG_color, 0.9);
    }
  }
}

.chipScrollHorizontal {
  position: absolute;
  height: 170px;
  width: 100vw;
  top: calc(100% + 30px);
  left: -3.5%;
  overflow: hidden;
  flex-direction: column;
  gap: 9px;
  display: none;
  
  @media screen and (max-width: $screen_M) {
    display: flex;
  }
}

// blog

.blog {
  position: relative;
  z-index: 3;

  &__title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.4rem;

    @media screen and (max-width: $screen_XS) {
      margin-bottom: 18px;
    }
  }

  &__body-container {
    border-radius: 100px;
    border: 3px solid $main_blue; 
    background: rgba(255, 255, 255, 0.12);
    overflow: hidden;

    @media screen and (max-width:$screen_XS) {
      border: 2px solid $main_blue;
      border-radius: 50px;
    }
  }

  &__body {
    padding: 21px 13px 21px 21px;
    overflow-y: scroll;
    max-height: 595px;
    margin-right: 16px;
    
    @media screen AND (max-width: $screen_XS) {
      padding: 10px 6px 10px 10px;
      margin-right: 6px;
      max-height: 421px;
    }

    &::-webkit-scrollbar {
      width: 8px;
      max-height: 100px;
      @media screen and (max-width: $screen_XS) {
        width: 4px;
      }
    }
    &::-webkit-scrollbar-track {
      margin-top: 94px;
      margin-bottom: 94px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.12);
      @media screen and (max-width: $screen_XS) {
        margin: 60px 0;
      }
    }
    &::-webkit-scrollbar-thumb {
      background: $main_blue;
      border-radius: 10px;
    }
  }
  
  &__item {
    display: block;
    padding: 1.6rem 6.4rem;
    border-radius: 196px;
    background-color: $main_deep_blue;
    margin-bottom: 16px;
    cursor: pointer;
    @media screen and (max-width: $screen_XS) {
      padding: 15px 35px;
      border-radius: 40px;
    }

    &:hover {
      background: $main_blue;
    }
    &:active {
      background: lighten($color: $main_blue, $amount: 2);
    }
  }

}

.blog-record {
  &__container {
    max-width: 33.9rem;
  }
  
  &__text {
    font-size: 2.4rem;
    line-height: 2.8rem;
    
    @media screen and (max-width: $screen_XS) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__date {
    color: rgba(255, 255, 255, 0.60);
    margin-top: 6px;
  }

}