@import './styles/variables.scss';
@import './styles/reset.css';
@import './styles/btn.scss';
@import './styles/links.scss';
@import './components/Footer/footer.scss';
@import './components/WelcomePage/welcomePage.module.scss';
@import './components/Header/header.scss';
@import './components/UI_comps/chipScroll.scss';
@import './components/UI_comps/burgerIcon.scss';

*{
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  @media screen and (max-width: $screen_L) {
    font-size: 9px;
  }
}
body{
  font-size: 1.6rem;
  font-family: 'Lexend', sans-serif;
  background-color: $BG_color;
  color: white;

}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  
  &__container{
    max-width: 1640px;
    margin: 0 auto; 
    padding-top: 16px;
    @media screen and (max-width: $screen_XL) {
      max-width: calc(100% - (2 * $appContainerPadding * 100%));
    }
    @media screen and (max-width: $screen_XS) {
      padding-top: 10px;
    }
  }

  &__container_fullWidth {
    width: 100%;
  }  
}
main {
  flex-grow: 1;
  position: relative;
}

