@import './styles/variables.scss';
@import './styles/reset.css';
@import './styles/btn.scss';
@import './styles/links.scss';
@import './components/Footer/footer.scss';
*{
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
html {
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  font-family: 'Lexend', sans-serif;
  background-color: $BG_color;
  color: white;

}
.app-container{
  max-width: 1640px;
  margin: 0 auto; 
}

.app {
  min-height: 100vh;
  padding-top: 16px;
}

